#include "../include/Resources.h"

ID ICON "cinder_app_icon.ico"

RES_BULLET
RES_SHIPMAP
RES_ENEMY1
RES_ENEMY2
RES_ENEMY3
RES_ENEMY4
RES_ENEMY5
RES_ENEMY6
RES_EBULLET1
RES_EBULLET2
RES_ENEMY7
RES_ENEMY8		
RES_ENEMY9
RES_ENEMY10
RES_MYHP
RES_ENEMYHP			
RES_EXPLODE			
RES_BG				
RES_LIFEBAR			
RES_LIFEBARLIGHT	
RES_LIFEBARCOVER	
RES_PAUSE			
RES_PLANE			
RES_PLAYGLOW
RES_POINTER			
RES_QUITGLOW
RES_HIGHGLOW
RES_HELVETICA
RES_INFINITY		
RES_BACK			
RES_CONTINUE		
RES_CONTINUEGLOW	
RES_PLAYGAME		
RES_HIGHSCORE
RES_QUIT
RES_QUITGAME
RES_RESUME
RES_LASER